#content {
  border: 10px solid #00ffff;
  background-image: url("../images/space1.jpg");
  width: 400;
  height: 400;
}
#divopmaak {
  border: 28px solid rgba(150, 140, 255, 0);
  width: 400;
  height: 400;
  background-color: black;
  color: #999999;
  padding: 0.8em;
}
#paramixin {
  border: 10px "solid" "pink";
}
#guarded_mixin_example {
  border: 5px solid black;
  background-color: green;
  color: white;
}
