.vb_div_1 {
  background-color: #0a141e;
  margin: 1em;
  padding: 1em;
  font-size: 1em;
  width: 210px;
}
.vb_div_2 {
  background-color: #14283c;
  margin: 2em;
  padding: 2em;
  font-size: 2em;
  width: 220px;
}
.vb_div_3 {
  background-color: #1e3c5a;
  margin: 3em;
  padding: 3em;
  font-size: 3em;
  width: 230px;
}
.vb_div_4 {
  background-color: #285078;
  margin: 4em;
  padding: 4em;
  font-size: 4em;
  width: 240px;
}
.vb_div_5 {
  background-color: #326496;
  margin: 5em;
  padding: 5em;
  font-size: 5em;
  width: 250px;
}
.vb_div_6 {
  background-color: #3c78b4;
  margin: 6em;
  padding: 6em;
  font-size: 6em;
  width: 260px;
}
.vb_div_7 {
  background-color: #468cd2;
  margin: 7em;
  padding: 7em;
  font-size: 7em;
  width: 270px;
}
.vb_div_8 {
  background-color: #50a0f0;
  margin: 8em;
  padding: 8em;
  font-size: 8em;
  width: 280px;
}
.vb_div_9 {
  background-color: #5ab4ff;
  margin: 9em;
  padding: 9em;
  font-size: 9em;
  width: 290px;
}
.vb_div_10 {
  background-color: #64c8ff;
  margin: 10em;
  padding: 10em;
  font-size: 10em;
  width: 300px;
}
.vb_div_11 {
  background-color: #6edcff;
  margin: 11em;
  padding: 11em;
  font-size: 11em;
  width: 310px;
}
.vb_div_12 {
  background-color: #78f0ff;
  margin: 12em;
  padding: 12em;
  font-size: 12em;
  width: 320px;
}
.vb_div_13 {
  background-color: #82ffff;
  margin: 13em;
  padding: 13em;
  font-size: 13em;
  width: 330px;
}
.vb_div_14 {
  background-color: #8cffff;
  margin: 14em;
  padding: 14em;
  font-size: 14em;
  width: 340px;
}
.vb_div_15 {
  background-color: #96ffff;
  margin: 15em;
  padding: 15em;
  font-size: 15em;
  width: 350px;
}
